.DigitComponent {
    height: 100%;
    position: relative;
}

.vertical {
    height: 50%;
    width: 5px;
    z-index: 2;
}

.horizontal {
    height: 5px;
    width: 100%;
    z-index: 1;
}

.hidden {
    background-color: #3f3f3f;
}

.no-middle-line {
    &:nth-child(7) {
        @extend .hidden;
        z-index: 1;
    }
}

.DigitComponent-part {
    background: #fff;
    position: absolute;

    &:nth-child(1) {
        @extend .horizontal;
        left: 0;
        top: 0;
    }
    
    &:nth-child(2) {
        @extend .vertical;
        right: 0;
        top: 0;
    }
    
    &:nth-child(3) {
        @extend .vertical;
        right: 0;
        bottom: 0;
    }
    
    &:nth-child(4) {
        @extend .horizontal;
        left: 0;
        bottom: 0;
    }
    
    &:nth-child(5) {
        @extend .vertical;
        left: 0;
        bottom: 0;
    }
    
    &:nth-child(6) {
        @extend .vertical;
        left: 0;
        top: 0;
    }
    
    &:nth-child(7) {
        @extend .horizontal;
        left: 0;
        margin-top: -2px;
        top: 50%;
        z-index: 3;
    }

    .digit1 & {
        @extend .no-middle-line;

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            @extend .hidden;
        }
    }

    .digit2 & {
        &:nth-child(3),
        &:nth-child(6) {
            @extend .hidden;
        } 
    }

    .digit3 & {
        &:nth-child(5),
        &:nth-child(6) {
            @extend .hidden;
        }
    }

    .digit4 & {
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5) {
            @extend .hidden;
        }
    }

    .digit5 & {
        &:nth-child(2),
        &:nth-child(5) {
            @extend .hidden;
        }
    }

    .digit6 & {
        &:nth-child(2) {
            @extend .hidden;
        }
    }

    .digit7 & {
        @extend .no-middle-line;

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            @extend .hidden;
        }
    }

    .digit9 & {
        &:nth-child(5) {
            @extend .hidden;
        }
    }

    .digit0 & {
        @extend .no-middle-line;
    }

    .digitE & {
        &:nth-child(2),
        &:nth-child(3) {
            @extend .hidden;
        }
    }
}

